


/* common */
.pc-show {
    display: block;
}

.common-wrap {
    max-width: 1240px;
    width: 80%;
    margin: 0 auto;
}

html, body {
    color: #1C1B1B;
    width: 100%;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.flex.center {
    align-items: center;
}

img {
    display: block;
    width: 100%;

}

.mn-bnr-Wrap + .common-wrap {
    margin-top: 150px;
}

h2 {
    font-size: 52px;
    font-weight: 700;
}

.letter-spaceingBig {
    letter-spacing: -3px;
}

.letter-spaceingMid {
    letter-spacing: -2px;
}

.letter-spaceingSmall {
    letter-spacing: -1px;
}

.colored {
    color: #009CDE;
}

/* navigation bar */
.navi-Wrap {
    height: 80px;
}

.navi-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navi-sec h1 {
    text-indent: -999999999px;
    background-image: url('../image/logo.png');
    width: 336px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navi-sec .flex nav {
    display: flex;
    margin-right: 30px;
    height: 80px;
    align-items: center;
}

.navi-sec .flex nav a {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.navi-sec .flex nav a:nth-child(n+2) {
    margin-left: 27px;
}

.navi-sec .flex .call {
    height: 39px;
    background-color: #009CDE;
    width: 159px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navi-sec .flex .call img {
    width: 21px;
    height: 21px;
}

.navi-sec .flex .call span {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 3px;
    margin-bottom: 2px;
    margin-right: 5px;
}


/* main banner */
.mn-bnr {
    width: 100%;
    background-color: #202020;
}

.mn-bnr .swiper-wrapper {
    position: relative;
}

.mn-bnr .swiper-slide {
    text-align: center;
    overflow: hidden;
    height: 920px;
}

.mn-bnr .swiper-slide:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1C1B1B;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.mn-bnr .swiper-slide img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.mn-bnr .swiper-slide .mn-txts {
    position: absolute;
    width: fit-content;
    z-index: 5;
    top: 30%;
    left: 20%;
    text-align: left;
}

.mn-bnr .swiper-slide .mn-txts h4 {
    color: #009CDE;
    font-size: 20px;
    font-weight: bold;
}

.mn-bnr .swiper-slide .mn-txts h2 {
    font-size: 56px;
    margin-top: 46px;
    color: #fff;
    letter-spacing: -2.8px;
    font-weight: 600;
    position: relative;
}

.mn-bnr .swiper-slide .mn-txts h2:before {
    display: block;
    content: '';
    background-color: #fff;
    width: 142px;
    height: 1px;
    position: absolute;
    top: -20px;
    left: 0;
}




/* section 01 */
.section-01 .image-left {
    position: relative;
}

.section-01 .image-left:before {
    display: block;
    content: '';
    width: 511px;
    height: 408px;
    background-image: url('../image/circle_img_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -239px;
    left: -173px;
    z-index: -2;
}

.section-01 .image-left .img-wrap:nth-child(1) {
    width: 500px;
}

.section-01 .image-left .img-wrap:nth-child(2) {
    width: 284px;
    position: absolute;
    z-index: 1;
    right: -84px;
    top: 276px;
}

.section-01 .image-left .img-wrap:nth-child(2)::before {
    display: block;
    content: '';
    width: 300px;
    height: 460px;
    background-color :#fff;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: -8px;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
}

.section-01 .image-left .img-wrap:nth-child(2) img {
    position: relative;
    z-index: 1;
}

.section-01 .txt-right {
    margin-left: 130px;
    margin-top: 114px;
}

.section-01 .txt-right p {
    margin-top: 85px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7;
}

.section-01 .txt-right p::before {
    display: block;
    content: '';
    width: 142px;
    height: 1px;
    background-color: #009CDE;
    position: absolute;
    top: -44px;
    left: 0;
}


/* 인증서 */
.simply-scroll, .simply-scroll-clip {
    width: 100% !important;
}

.certi-wrap {
    padding: 385px 0 130px;
}

.certi-wrap h2 {
    text-align: center;
}

.certi-wrap ul li {
    padding-bottom: 35px;
}

.certi-wrap ul li img {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: block;
    height: auto;
    width: 180px;
}

.simply-scroll, .simply-scroll .simply-scroll-clip {
    height: 280px !important;
}

.simply-scroll .simply-scroll-list li {
    width: 200px !important;
    height: 280px !important;
}

.certi-wrap .scroller-wrap {
    margin-top: 30px;
}




/* 건물종합관리 1 */
.section-02 {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.section-02 dt {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.section-02 dd {
    margin-top: 6px;
    font-size: 17px;
    white-space: nowrap;
}

.section-02 li:nth-child(n+2) {
    margin-top: 74px;
}

.section-02 dt span {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background-color: #009CDE;
    text-align: center;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-top: 4px;
}

.section-02 .left-txts dt {
    justify-content: right;
}

.section-02 .left-txts dt span {
    margin-left: 6px;
}

.section-02 .left-txts dd {
    text-align: right;
}

.section-02 .right-txts dt span {
    margin-right: 6px;
}

.section-02 .img-wrap {
    position: absolute;
    width: 60%;
    height: auto;
    z-index: -2;
    left: 240px;
    top: -35px;
}



/* 연락 배너 */
.bnr-wrap {
    margin-top: 104px;
    position: relative;
}

.bnr-wrap:after {
    width: 100vw;
    height: 1277px;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(179, 187, 191, 0.2) 100%
        );
    display: block;
    content: '';
    position: absolute;
    top: 280px;
    left: 0;
    z-index: -1;
}

.bnr-wrap .banner::before {
    display: block;
    content: '';
    width: 238px;
    height: 238px;
    background-image: url('../image/sec2_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -119px;
    right: -114px;
    z-index: -1;
}


.bnr-wrap .banner {
    background-color: #009CDE;
    border-radius: 25px;
    padding: 102px 68px;    
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.bnr-wrap .banner h2 {
    font-size: 40px;
}

.bnr-wrap .banner p {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
}

.bnr-wrap .banner .btn-wrap {
    background-color: #2B2B2B;
    border-radius: 12px;
    text-align: center;
    height: 72px;
    width: 330px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bnr-wrap .banner .btn-wrap span {
    display: block;
    width: fit-content;
    font-size: 26px;
    font-weight: bold;
}


/* 건물관리 2 */
.section-03 h2 {
    font-size: 52px;
    text-align: center;
    margin-top: 150px;
}

.section-03 .arti-wrap {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.section-03 .arti-wrap article {
    width: 393px;
    height: 271px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 146px 30px 30px 33px;
    color: #fff;
}


.section-03 .arti-wrap article h3 {
    font-size: 28px;
    font-weight: bold;
}

.section-03 .arti-wrap article p {
    margin-top: 12px;
    letter-spacing: -0.5px;
}



/* 건물종합관리 */
.section-04 {
    display: flex;
    justify-content: space-between;
    margin-top: 225px;
}

.section-04 .left-txts h4 {
    font-size: 28px;
    font-weight: bold;
}

.section-04 .left-txts h2 {
    margin-top: 20px;
    font-size: 46px;
    white-space: nowrap;
}

.section-04 .left-txts p {
    margin-top: 33px;
    font-size: 22px;
    font-weight: 600;
}

.section-04 .graph-wrap {
    position: relative;
}

.section-04 .graph-wrap ul {
    display: flex;
    align-items: flex-end;
}

.section-04 .graph-wrap ul li {
    height: 100%;
    position: relative;
}


.section-04 .graph-wrap ul li:nth-child(n + 2 ) {
    margin-left: 8px;
}

.section-04 .graph-wrap ul li img {
    width: 145px;
    margin: 0 0 0 auto;
}

.section-04 .graph-wrap ul li .years {
    text-align: right;
    position: absolute;
    right: 80px;
    top: -10px;
    white-space: nowrap;
}

.section-04 .graph-wrap ul li .years h4 {
    font-size: 17px;
    font-weight: bold;
}

.section-04 .graph-wrap ul li .years p {
    font-size: 12px;
    font-weight: 500;
    color: #666;
    margin-top: 2px;
}

.section-04 .graph-wrap ul li h3 {
    color: #fff;
    font-weight: 900;
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 18px;
}

.section-04 .graph-wrap .arrow {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/building-arrow.png');
    width: 453px;
    height: 267px;
    position: absolute;
    top: -47px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}



/* 오시는길 */
.section-05 {
    margin-top: 220px;
}

.section-05 .txts {
    text-align: center;
}

.section-05 .txts p {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
}

.map {
    margin-top: 75px;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
}


/* footer */
.ftr-wrap {
    position: relative;
}

.ftr-wrap footer {
    margin-top: 170px;
}

.ftr-wrap footer .footer-content {
    display: flex;
    justify-content: space-between;
        padding-bottom: 117px;
}

.ftr-wrap footer .footer-content h1 {
    background-image: url('../image/ftr-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 345px;
    height: 98px;
}

.ftr-wrap footer .footer-content .ftr-right {
    display: flex; justify-content: space-between;
}

.ftr-wrap footer .footer-content .ftr-right dl dt {
    font-size: 16px;
    color: #009CDE;
    font-weight: bold;
}

.ftr-wrap footer .footer-content .ftr-right dl:nth-child(n + 2) {
    margin-left: 81px;
}

.ftr-wrap footer .footer-content .ftr-right dl dd {
    margin-top: 20px;
    font-weight: bold;
}

.ftr-wrap footer .footer-content .ftr-right .sns li {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 37px;
    height: 37px;
    cursor: pointer;
    margin: 0 auto;
}

.ftr-wrap footer .footer-content .ftr-right .sns li a {
    display: block;
    width: 100%;
    height: 100%;
}

.ftr-wrap footer .footer-content .ftr-right .sns li:nth-child(1) {
    background-image: url('../image/sns-01.png');
}

.ftr-wrap footer .footer-content .ftr-right .sns li:nth-child(2) {
    background-image: url('../image/sns-02.png');
    margin-top: 11px;
}

.ftr-wrap footer .footer-content .ftr-right .sns li:nth-child(3) {
    background-image: url('../image/sns-03.png');
    margin-top: 11px;
}

.ftr-wrap footer .ftr-left .btm-txts {
    color: #B5B5B5;
    margin-top: 24px;
    margin-left: 18px;
    font-weight: bold;    
}

.ftr-wrap .copyright {
    text-align: center;
    padding: 27px 0 32px;
    font-size: 18px;
    font-weight: bold;
    color: #999;
    position: relative;
}

.ftr-wrap .gray-arrow {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    bottom: 84px;
    left: 0;
}


/* floating banner */
.floating-wrap {
    position: fixed;
    right: 0;
    top: 20%;
    z-index: 9999;
}

.floating-wrap ul li {
    width: 80px;
    height: 80px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    position: relative;
}

.floating-wrap ul li a {
    text-align: center;
    width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.floating-wrap ul li a span {
    width: 100%;
    text-align: center;
    margin-bottom: 13px;
}

.floating-wrap ul li::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.floating-wrap ul li:nth-child(1) {
    background-color: #009CDE;
}

.floating-wrap ul li:nth-child(1):after {
    width: 28px;
    height: 28px;
    bottom: 15px;
    background-image: url('../image/floating-01.png');
}

.floating-wrap ul li:nth-child(2) {
    background-color: #F2D410;
}

.floating-wrap ul li:nth-child(2) a span {
    color: #3C1F21;
}

.floating-wrap ul li:nth-child(2):after {
    width: 52px;
    height: 52px;
    bottom: 18px;
    background-image: url('../image/floating-02.png');
}

.floating-wrap ul li:nth-child(3) {
    background-color: #30A846;
}

.floating-wrap ul li:nth-child(3):after {
    width: 35px;
    height: 32px;
    bottom: 18px;
    background-image: url('../image/floating-03.png');
}

.floating-wrap ul li:nth-child(4) {
    background-color: #202020;
}

.floating-wrap ul li:nth-child(4):after {
    width: 32px;
    height: 32px;
    bottom: 20px;
    background-image: url('../image/floating-04.png');
}




/* 태블릿 */
@media (max-width: 1023px) {

    .navi-sec, .section-01, section-02, .bnr-wrap, section-03, section-04, section-05, .ftr-wrap {
        padding: 0 20px;
    }
    /* common */
    .common-wrap {
        width: 100%;
        /* margin: 0 30px; */
    }

    .mn-bnr-Wrap + .common-wrap {
        margin-top: 60px;
    }

    .pc-show {
        display: none !important;
    }

    .flex {
        display: block;
    }

    h2 {
        text-align: center;
        font-size: 32px;
    }

    .section-02 dt, .section-02 dd, .section-04 .left-txts h2, .section-04 .graph-wrap ul li .years {
        white-space: initial;
    }

    /* 추후 수정 */
    .bnr-wrap .banner::before, .section-01 .image-left:before, .section-04 .graph-wrap .arrow, .section-02 .img-wrap, .section-04 .graph-wrap {
        display: none;
    }




    /* floating */
    .floating-wrap {
        bottom: 0;
        top: initial;
        left: 0;
    }

    .floating-wrap ul {
        display: flex;
    }

    .floating-wrap ul li {
        width: 25%;
    }


    /* navigation */
    .navi-sec h1 {
        width: 200px;
    }


    /* main-banner */
    .mn-bnr .swiper-slide {
    text-align: center;
    overflow: hidden;
    height: 500px;
    }

    .mn-bnr .swiper-slide .mn-txts h4 {
        font-size: 14px;
    }

    .mn-bnr .swiper-slide .mn-txts {
        left: 0;
    }
    
    .mn-bnr .swiper-slide .mn-txts h2 {
        font-size: 34px;
        word-break: keep-all;
    }

    .mn-bnr .swiper-slide .mn-txts h2:before {
        right: 0;
        bottom: 0;
        top: -185px;
        margin: auto;
    }

    .mn-bnr .swiper-slide .mn-txts {
        text-align: center;
    }

    
    /* section 01 */
    .section-01 .image-left .img-wrap:nth-child(1) {
        width: 100%;
    }

    .section-01 .image-left .img-wrap:nth-child(2) {
        width: 55%;
        right: 0;
    }

    .section-01 .image-left .img-wrap:nth-child(2)::before {
        width: 112%;
        left: -11px;
        height: 106%;
        border-radius: 9%;
    }

    .section-01 .txt-right {
        margin-left: 0;
        margin-top: 220px;
    }

    .section-01 .txt-right p::before {
        right: 0;
        bottom: 0;
        margin: auto;
        top: -175px;
    }

    .section-01 .txt-right p {
        text-align: center;
        margin-top: 50px;
        font-size: 15px;
    }



    /* 인증서 */
    .certi-wrap {
        padding: 60px 0;
    }

    .certi-wrap ul li img {
        width: 125px;
    }

    .simply-scroll .simply-scroll-list li {
        width: 145px !important;
        height: 180px !important;
    }






    /* section 04 */
    .section-04 {
        display: block;
    }

    .section-04 .graph-wrap ul li img {
        width: 20%;
    }



    /* 연락 배너 */
    .bnr-wrap .banner {
        padding: 40px 20px;
        display: block;
    }

    .bnr-wrap .banner h2 {
        font-size: 30px;
    }

    .bnr-wrap .banner p {
        font-size: 15px;
        text-align: center;
    }

    .bnr-wrap .banner .btn-wrap {
        width: fit-content;
        height: inherit;
        margin: 20px auto 0;
        padding: 12px 30px;
    }

    .bnr-wrap .banner .btn-wrap span {
        font-size: 22px;
    }



    /* 건물관리 2 */
    .section-03 h2 {
        font-size: 32px;
        margin-top: 80px;
    }

    .section-03 .arti-wrap {
        margin-top: 40px;
        padding: 0 20px;
    }

    .section-03 .arti-wrap article {
        width: 100%;
        background-size: contain;
        height: auto;
    }


    /* footer */
    .ftr-wrap footer .footer-content {
        display: block;
    }

    .ftr-wrap footer .footer-content .ftr-right {
        display: block;
    }

    .ftr-wrap .copyright::before {
        width: 100%;
        margin-left: 0;
    }

}

/* 모바일 */
@media (max-width: 820px) {
  
}

